/* Introduction */
.Intro {
  height: calc(100vh - (50px + 2 * 20px)); /* 104px is from the navbar */
  max-width: 1920px;
  margin: 0 auto;
  color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(12, minmax(0,1fr));
  grid-template-rows: repeat(12, minmax(0,1fr));
  grid-gap: 6px;
}

.Intro > h1 {
  padding: 12px;
  font-size: calc(1.75rem + 3.5vw);
  font-weight: 500;
  grid-column: 3 / 13;
  grid-row: 2;
}

.Intro > .About {
  grid-column: 4 / 11;
  grid-row: 4 / 11;
}

.Intro > .About > p {
  font-size: calc(0.9rem + 0.7vw);
  margin: 25px;
}

.Intro > .Contact {
  grid-column: 10;
  grid-row: 10;
  background-color: #C1A6E4;
  border: none;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  width: calc(90px + 3vw);
  height: calc(30px + 3vh);
  font-size: calc(0.8rem + 0.7vw);
  text-decoration: none;
  color:black;
  vertical-align: middle;
  line-height: calc(30px + 3vh);
  transition: background-color 0.3s;
}

.Intro > .Contact:hover {
  background-color: #986bd2;
}

/* Introduction background image */
.Background {
  position: absolute !important;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: linear-gradient(180deg, rgba(143,136,177,1) 0%, rgba(57,52,56,1) 100%);
  filter: brightness(50%);
}

.BGImage {
  filter: blur(10px);
}

/* Experience */
.Experience {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.Experience > h1 {
  flex: 1;
  text-align: right;
  padding: 72px;
  background-color: #505B87;
  color: whitesmoke
}

.Experience > div {
  flex: 3;
  padding: 72px;
  background-color: #DFDFDF;
}

.Experience > div > * {
  max-width: 850px;
}

/* Introduction*/
@media screen and (max-width: 1260px) {  
  .Intro > .About > p {
    margin: 15px;
  }
}

@media screen and (max-width: 950px) {
  .Intro {
    height: calc(100vh - (64px + 2 * 20px));
  }
}

@media screen and (max-height: 900px) {

  .Intro > h1 {
    grid-row: 1;
  }

  .Intro > .About {
    grid-row: 3 / 11;
  }
}

@media screen and (max-height: 650px) {
  .Intro > h1 {
    grid-column: 2 / 11;
  }
  .Intro > .About {
    grid-column: 3 / 12;
  }
}

@media screen and (max-width: 600px) {
  .Intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .Intro > h1 {
    text-align: center;
  }

  .Intro > .About {
    padding: 4px 6px
  }

  .Intro > .Contact {
    margin: 0 auto;
  }
}

@media screen and (max-width: 300px) {
}

/* Experience */
@media screen and (max-width: 1100px) {
  .Experience {
    flex-direction: column;
  }

  .Experience > h1 {
    flex: 1;
    text-align: left;
  }

  .Experience > div {
    flex: 4;
  }
}

@media screen and (max-width: 900px) {
  .Experience > div {
    padding: 72px 24px;
  }
}

