.ProjectContainer {
  min-height: 300px;
  padding: 64px 0;
  background-color: #C2C2C2;
  display: flex;
  justify-content: center;
}

.Project {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ImgContainer {
  width: 72px;
  height: 72px;
}

.Details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 48px;
  flex: 4;
}

.Details > * {
  padding: 10px;
}

.Secret {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Secret > p {
  padding: 12px;
}

@media screen and (max-width: 900px) {
    .ProjectContainer {
      min-height: 100px;
    }
}

@media screen and (max-width: 480px) {
  .Project {
    flex-direction: column;
  }

  .Details {
    padding: 24px 0;
  }
}