.ButtonShow {
  display: inline;
  position: fixed;
  bottom: calc(8px + 3vh);
  right: calc(8px + 3vh);
  width: calc(36px + 2vw);
  height: calc(36px + 2vw);
  border-radius: calc(36px + 2vw);
  border: none;
  background-color: var(--button-purple);
  transition: background-color 0.3s;
}

.ButtonShow:hover {
  background-color: var(--button-hover-purple);
  cursor: pointer;
}

.ButtonHide {
  display: none;
}

.ButtonShow > * {
  font-size: calc(1.5em + 1vw);
  vertical-align: middle;
}